{% extends "../base.html" %}
{% block title %}Login{% endblock title %}


{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static "CSS/login_register.css" %}">
{% endblock links %}


{% block content %}
<div class="mainPage">
  <div class="login-form">
    <h3>Welcome Back!!</h3>
    <form action='/user/login/' method='POST'>
      {% csrf_token %}
      {% for field in form %}
          <div class="txt-field">
              {{field}} {{field.label_tag}}   
              <span></span>
          </div>
      {% endfor %}
      <div class="login-btn">
        <button type="submit">Login</button>
      </div>
    </form>
    <p class='forgot'>Forgot password?</p>
    <a href='/user/register'class='forgot'>Dont have an account? Register</a>
    </div>
  </div>
</div>

{% endblock content %}
