{% extends "../base.html" %}
{% block title %}Login{% endblock title %}


{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static "CSS/login_register.css" %}">
{% endblock links %}


{% block content %}
<div class="main-page">
    <div class="login-form">
      <h3>Welcome Back!!</h3>
      <form action='/login' method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class="txt-field">
                {% comment %} {{field.errors}} {% endcomment %}
                {{field}} {{field.label_tag}}   
                {% if field.help_text %}
                <p class="help">{{field.help_text|safe}}</p>
                {% endif %}
                <span></span>
            </div>
        {% endfor %}
        <div class="login-btn">
          <button type="submit">Login</button>
        </div>
      </form>
      <p class='forgot'>Forgot password?</p>
      </div>
    </div>
  </div>
{% endblock content %}
