{% extends "../base.html" %}
{% block title %}Register{% endblock title %}


{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static "CSS/login_register.css" %}">
{% endblock links %}

{% block styles %}
{% endblock styles %}


{% block content %}
<div class="mainPage">
    <div class="login-form">
      <h3>Hello user!!</h3>
      <form action='' method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class="txt-field">
              {{field}}  
              {{field.label_tag}}
              <span></span>
            </div>
            {{field.errors}}
        {% endfor %}
        <div class="register-btn">
          <button type="submit">Register</button>
        </div>
      </form>
      <a class='login_ref' href='/user/login'>Already have an account? Login</a>
      </div>
    </div>
  </div>
{% endblock content %}
