{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block links %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/AddToCart.js' %}"></script>
{% endblock links %}

{% block styles %}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:'Quicksand','sans-serif';
    border: 1px solid black;
    padding:5px 20px;
    border-radius: 100px;
    width:-moz-fit-content;
    width:fit-content;
    margin-top:30px;
    margin-bottom:30px;
}
.container input{
    padding: 5px 10px;
    border-radius:5px;
    font-size: 1.5rem;
    outline:none;
    border: none;
    width:50vw;
}
.flex {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping of flex items */
    justify-content: space-between; /* Adjust as needed */
}
.card{
    margin-top:10px;
    margin-bottom:10px;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-logo img,
  .rating img {
    width: auto;
    height:50px;
    margin: 0; /* Remove left margin to align the logo and rating */
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .rating p {
    margin: 0; /* Remove margin to align the rating text with the icon */
  }
.box-border {
    border: 0.5px solid black;
    margin: 10px; /* Add margin to create a gap between the product cards */
    border-radius:10px;
}
.button-33 {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  margin-right:7px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
{% endblock styles %}

{% block content %}
<div class="container">
    <form action="/user/search/" method='post'>
        {% load static %}
        {% csrf_token %}
    <img src="{% static 'images/Search.svg' %}" alt="" width='40' height='40'>
    <input type="text" placeholder='Search' name='Search'>
</form>
</div>
<div class='flex flex-wrap'>
    {% for product in products %}
    <div class="col-xs-3 col-sm-3 box-border">
        <div class="card" style="width: 18rem">
            <div class="top-line">
            {% if 'Amazon' in product.website %}
            <div class="site-logo">
                <img src="{% static 'amazon.png' %}" alt="Amazon Logo" width='100px' height='75px' class="card-img-top">
            </div>
            {% elif 'Flipkart' in product.website %}
            <div class="site-logo">
                <img src="{% static 'flipkart.png' %}" alt="Flipkart Logo" width='100px' height='75px' class="card-img-top">
            </div>
            {% endif %}
            <div class="rating">
                <img src="{% static 'rating.png' %}" alt="Amazon Logo" width='100px' height='75px' class="card-img-top">
                <p>{{product.rating}}</p>
            </div>
            </div>
            <img src={{product.image}} alt="Half Cat" width='200px' height='150px' class="card-img-top" alt="..."></img>
            <div class="card-body">
                <p class="card-text">{{product.name}}</p>
                <p>Price:<strong> &#8377; {{product.price}}</strong></p> 
                <button class="button-33" role="button" onClick='addToCart({{product}},"{{csrf_token}}")'>Add To Cart</button> 
                <button class="button-33" role="button" onclick="window.location.href='{{product.product_link}}'">Buy Now</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block js %}
<script>
    console.log('working')
</script>
{% endblock js %}
