{% extends "base.html" %}

{% block title %}Cart{% endblock title %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'CSS/card.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'JS/CartControl.js' %}"></script>
{% endblock links %}

{% block styles %}
.hello{
    font-size:1.4rem;
    font-family:'Quicksand','sans-serif';
}
.container{
    margin:10px 10px;
}
{% endblock styles %}
{% block content %}
<div class="container">
    <span class="hello">Hello {{user}} !</span>
</div>
<div class="wrapper">
    <div class='flex flex-wrap content-evenly'>
        {% for item in items %}
        <div class="flex flex-wrap content-between box-border">
            <div class="card">
                <div class="top-line">
                    {% if 'Amazon' in item.website %}
                    <div class="site-logo">
                        <img src="{% static 'amazon.jpg' %}" alt="Amazon Logo">
                    </div>
                    {% elif 'Flipkart' in item.website %}
                    <div class="site-logo">
                        <img src="{% static 'flipkart.png' %}" alt="Flipkart Logo">
                    </div>
                    {% endif %}
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <p>{{item.rating}}</p>
                    </div>
                </div>
                <img src={{item.image}} class="Product-img" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <p class="card-text"><strong>{{item.product_name}}</strong></p>
                    <p>Price:<strong> &#8377; {{item.price}}</strong></p> 
                    <p>{{item.cart_id}}</p>
                </div>
                <div class="btn-container">
                    <button class="button-33" role="button" onclick="window.location.href='{{item.URL}}'">
                        Buy Now
                    </button>
                    <button class="button-24" role="button" onclick="deleteAndRefresh('{{ csrf_token }}', {{ item.cart_id }})">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}



