{% extends "base.html" %}

{% block title %}
E-comparator
{% endblock title %}


{% block styles %}
    .hello{
        position:absolute;
        top:90px;
        right:28px;
        font-size:1.4rem;
        font-family:'Quicksand','sans-serif';
    }
    .box-mid{
        background-color: #91E7F6;
        color: black;
        padding: 20px;
        text-align: center;
        margin: 50px auto; 
        width: 35%;
        border-radius: 10px;
        font-family: 'Quicksand', 'sans-serif';

    }

    .box-mid h1::after {
        content: "";
        display: block;
        width: 75%;
        margin: 15px auto;
        border-bottom: 2px solid black; 
    }
    .cat{
        color: black;
        text-align: center;
        margin: 25px auto; /* Increase the top margin to move the box down */
        width: 95%;
        font-family: 'Quicksand', 'sans-serif';
    }
 
    .SliderContainer {
        overflow: auto ;
        white-space: nowrap; 
    }

    .Slider {
        display: flex;
        flex-direction:row;
    }

    .box {
        flex: 0 0 25%; 
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        text-align: center;
        background-color: white;
        width:300px;
    }
    .box p{
        font-size:2rem;
    }
    .box img{
        width:200px;
        aspect-ratio:1/1;
    }
    .SliderContainer::-webkit-scrollbar {
        width: 0.1rem;
    }
    
    .SliderContainer::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .SliderContainer a{
        all:unset;
        cursor:pointer;
    }
    .SliderContainer a:hover{
        all:unset;
    }
    .SliderContainer a:active{
        all:unset;
    }
    .half-box {
        border: 2px solid black;
        text-align: center;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        border-radius: 10px; /* Add border-radius to make the border round */
        padding:4px;
        font-family:'Quicksand','sans-serif';
    }
    .half-box img {
        width:100%;
        height:110px;
        margin-bottom: 10px; /* Add some margin to separate the image and text */
    }
    .half-box-left {
        text-align: left;
        width: 150px;
        height: 150px;
        bottom: 100; /* Align to the bottom */
        left: 0; /* Align to the left */
    }
    .container{
        display:flex;
        align-items:center;
        justify-content:center;
        font-family:'Quicksand','sans-serif';
        border: 1px solid black;
        padding:5px 20px;
        border-radius: 100px;
        width:-moz-fit-content;
        width:fit-content;
        margin-top:30px;
    }
    .container input{
        padding: 5px 10px;
        border-radius:5px;
        font-size: 1.5rem;
        outline:none;
        border: none;
        width:50vw;
    }
{% endblock styles %}

{% block content %}
<span class="hello">Hello {{user}} !</span>
<div class="box-mid">
    <h1>E-Comparator</h1>
    <p>Want something but it getting out of your pockets? Get the best deals with us</p>
</div>
<div class="container">
    <form action="/user/search/" method='post'>
    {% load static %}
    {% csrf_token %}
    <img src="{% static 'images/Search.svg' %}" alt="" width='40' height='40'>
    <input type="text" placeholder='Search' name='Search'>
</form>
</div>
<div class="cat">
    <h1>Categories</h1>

    <div class="SliderContainer">
        <div class="Slider">
            {% for image in images %}
            <a href="category/{{image.image_name}}" class='cursor-pointer'>
                <div class="box">
                    <p>{{image.image_name}}</p>
                    <img src='{{image.image.url}}' alt="Cat"></img>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
